@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-80px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media screen and (max-width: 1024px) {
    .header {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .containerHeader {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logo-container {
        margin-top: 10px;
        padding-left: 0;
    }
    .CatalogActuRow {
        flex-wrap: wrap;
        justify-content: center;
    }
    .nav-links {
        margin-top: 10px;
    }
    .nav-link {
        font-size: 17px;
        text-decoration: none;
        padding-right: 12px;
    }
    .presentation {
        flex-direction: column;
    }
    .introduction {
        margin-top: 5vh;
        text-align: center;
    }
    .intro-text h1 {
        font-size: 30px;
    }
    .intro-text p {
        font-size: 16px;
    }
    .cover img {
        margin-top: 20px;
        height: 80%;
    }
    .Servicerow {
        flex-direction: column;
    }
    .ActionPrez {
        flex-direction: column;
        align-items: center;
        margin: auto;
        margin-right: 0px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 767px) {
    footer {
        flex-direction: column;
    }
    .socialM,
    .LogoFooter {
        margin-bottom: 20px;
    }
}