* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
}

#imgload {
    background-image: url('/img/IteachLoader.gif');
    min-height: 100%;
    background-position: center;
    background-size: cover;
    position: fixed;
    z-index: 999;
    width: 100%;
}

header {
    display: flex;
    width: 90%;
    height: 10vh;
    margin: auto;
    align-items: center;
    border-style: solid;
    border-top: none;
    border-radius: 0px 0px 30px 30px;
    border-color: rgba(212, 212, 212, 0.123);
}

.containerHeader {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo-container {
    display: flex;
    align-items: center;
    flex: 1;
    padding-left: 10px;
}

.logo {
    margin-left: 10px;
    font-size: 22px;
    font-weight: bold;
}

nav {
    flex: 2;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.nav-link {
    color: black;
    font-size: 20px;
    text-decoration: none;
}

.nav-link:hover {
    color: #f8a998;
    font-weight: 600;
}

.presentation {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}

.introduction {
    flex: 1;
    animation: drop 1.5s ease;
}

.intro-text h1 {
    font-size: 50px;
    font-weight: 500;
    color: #f8a998;
}

.intro-text h3 {
    font-weight: bold;
    font-size: 22px;
}

#firstPara {
    margin-top: 15px;
}

.intro-text p {
    margin-top: 5px;
    font-size: 18px;
    color: #585772;
    text-align: justify;
}

.cover {
    flex: 1;
    display: flex;
    justify-content: center;
    height: 60vh;
}

.cover img {
    height: 120%;
    animation: drop 1.5s ease;
}

.Action {
    background-color: #f3f4f56b;
}

.Action h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    color: #f8a998;
    padding-top: 100px;
    margin-bottom: 50px;
}

.ActionsCatalog {
    width: 100%;
    margin-top: 20px;
    padding-bottom: 10px;
}

.Servicerow {
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
}

.ActionPrez {
    width: 100%;
    margin: auto;
    display: flex;
    padding: 10px;
    margin-right: 10px;
}

.logoActionPrez {
    flex: 1;
}

.TextActionPrez {
    flex: 3;
    margin-left: 30px;
    text-align: justify;
}

.TextActionPrez p {
    font-size: 18px;
}

.TextActionPrez h2 {
    font-size: 30px;
    font-weight: normal;
    color: #f8a998;
}

.TitreService {
    font-size: 25px;
    text-align: justify;
    text-decoration: underline #f8a998;
}

.TitreValeur {
    color: #f8a998;
    text-decoration: underline #f8a998;
}

.Valeur h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    color: #f8a998;
    margin-bottom: 50px;
}

.slide {
    display: flex;
}

.LogoSlicerValeur {
    flex: 1;
    margin-right: 10px;
    ;
}

.TextSlicerValeur {
    flex: 1;
}

.owl-carousel {
    margin-top: 100px;
    ;
}

.owl-carousel li {
    list-style: none;
}

.owl-nav {
    display: none;
}

.Actualite {
    background-color: #f3f4f56b;
}

.Actualite h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    color: #f8a998;
}

.CatalogActu {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

.Actu {
    width: 500px;
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}

.imgActu {
    width: 100%;
}

.contenuImg {
    padding: 10px;
    border-style: solid;
    border-color: rgba(212, 212, 212, 0.767);
}

.CatalogActuRow {
    display: flex;
    align-items: stretch;
}

.contenuImg p {
    padding: 10px;
    text-align: justify;
}

.BtnActu {
    background-color: #f8aa98a8;
    color: white;
    font-weight: bolder;
    font-size: 12px;
    padding: 10px;
    border-radius: 5px;
}

.BtnActu:hover {
    background-color: #f8aa98;
}

.CTBtnActu {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    ;
}

footer {
    width: 80%;
    margin: auto;
    padding-bottom: 30px;
    display: flex;
}

.socialM {
    flex: auto;
    text-align: center;
    color: black;
}

.LogoFooter {
    flex: auto;
    text-align: center;
}

.Adresse {
    flex: auto;
    text-align: center;
}

.socialM a {
    color: black;
}

.socialM a i {
    color: #f8aa98;
    padding-right: 5px;
}